@{ 
    ViewBag.Title = "Đăng nhập tài khoản";
}

    <form method="post" action="">
        <div class="form-group">
            <label>Id</label>
            <input class="form-control" name="id" />
        </div>
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" name="username" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password" />
        </div>
        <div class="form-group">
            <label>role</label>
            <input class="form-control" name="role" />
        </div>
        <div class="form-group">
            <label>phone</label>
            <input class="form-control" name="phone" />
        </div>
        <div class="form-group">
            <label>email</label>
            <input class="form-control" name="email" />
        </div>
        <button class="btn btn-primary">Post</button>
    </form>